.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f172a;
  padding: 12px 24px;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #38bdf8;
}



.nav-auth {
  margin-left: 20px;
}

.login-btn {
  background-color: #38bdf8;
  color: #0f172a;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.login-btn:hover {
  background-color: #0ea5e9;
}
