.container {
  border: 2px solid black;
  width: 100%;
  margin: auto;
  padding-top: 2rem;
  display: flex;
  gap: 4rem;
 /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
}

.one,
.two,
.three,
.four
 {
  margin-bottom: 3rem;
  width: 100%; 
  background-color: rgb(230, 242, 247);
  padding-left: 2rem;
}
