* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

.one{
  background-color: green;
  color: white;
  width: 50%;
}

.two {
  background-color: red;
  color: white;
  width: 50%;
}